<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        {% block stylesheets %}
             
             {% stylesheets 
                'bootstrap-3.3.6-dist/css/bootstrap.min.css'
                'css/main.css'
                'libs/gritter/css/jquery.gritter.css'
                'css/responsive.css'  
             	output='css/compiled.css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
             {% endstylesheets %}
			 
        {% endblock %}
        <link rel="shortcut icon" href="fav.ico" /> 
    </head>
    <body>
        {% if app.session.get('user')!=null %}
            <nav class="navbar navbar-inverse ">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Page blanche</a>
                  </div>
                  <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="{{ path('homepage') }}">Données xml</a></li>
                      
                    </ul>
                      
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.session.get('user')!=null %}
                        <a class="navbar-brand" >Bonjour {{ userInfos.user_prenom }}</a>
                        {% else %}
                        
                        {% endif %}
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
            </nav>
        {% else %}
			
	{% endif %}
        {% block body %}
        
        {% endblock %}
        {% block javascripts %}
        
                 <script type="text/javascript">
			///////////////////////////////////////////////
    		//définition des différentes variables globales
    		///////////////////////////////////////////////
         	var GV={};
         	
         	
			//indicateur connexion
         	GV.isConnected;
         	{% if app.session.get('user')==null %}
         		GV.isConnected=false;
                {% else %}
			GV.isConnected=true;
		{% endif %}

			

		//url pour gérer l'environnement de prod quand twig n'est pas pleinement accessible
		GV.urlPrefix;
		GV.mode;

		{% if app.environment=="dev" %}
                    GV.urlPrefix="/app_dev.php/";
                    GV.mode="dev";
		{% else %}
                    GV.urlPrefix="/";
                    GV.mode="prod";
		{% endif %}

		//pseudo variable flash pour passer des infos à des faux popups
		GV.lastFlDatas;

         </script>
         {% javascripts
		 
	     'js/jquery.js'
             'bootstrap-3.3.6-dist/js/bootstrap.min.js'
	     'js/tsc.js'
             'js/helpers.js'
             'libs/gritter/js/jquery.gritter.min.js'
             'js/buttonWaiter.js'
             'js/simpleWaiter.js'
             'js/logic.js' %}
		    <script src="{{ asset_url }}"></script>
	 {% endjavascripts %}
        
        {% endblock %}
    </body>
</html>
