{% extends 'base.html.twig' %}
{% block stylecss %}
{{ parent() }}
       {% stylesheets 
       		'css/accueil.css' filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
       {% endstylesheets %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
	<!--<script 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEu8klAZre34LRG1uUo9iUJW4xDVTxhbU">
        </script>-->
        
	
	{% javascripts 'js/accueil.js' %}
        <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
    <script type="text/javascript">

	GV.launchFunction=init_accueil;

    </script>
{% endblock %}
{% block body %}
    <div class="mAuto widthStandard relative">
        <h3 class="tac">Liste des programmes</h3>
        
        {% for prog in programmes %}
            <div class="panel panel-default relative">
                <div class="panelHeadingAction">


                </div>
                <div class="panel-heading">
                  <h3 class="panel-title" >{{ prog.prog_nom }}   </h3>
                </div>
                <div class="panel-body relative">
                    <p>
                        
                        <span class="bold"> Référence :</span> {{ prog.prog_ref }}<br/>
                        <span class="bold"> Numéro :</span> {{ prog.prog_numero }}<br/>
                        <span class="bold"> Adresse :</span> {{ prog.prog_adresse }}<br/>
                        <span class="bold"> Code postal :</span> {{ prog.prog_cp }}<br/>
                        <span class="bold"> Ville :</span> {{ prog.prog_ville }}<br/>
                       
                        <span class="bold"> Mail :</span> {{ prog.prog_mail }}<br/>
                        <!--<span class="bold"> Illustration :</span> <br/> <img src="{{ prog.prog_image_url }}" width="400px" height="auto"/><br/>-->
                        <span class="bold"> Lien :</span> <a target="_blank" href="{{ prog.prog_url }}">Voir</a><br/>
                        <span class="bold"> Plaquette :</span> <a href="{{ prog.prog_plaquette_url }}">Voir</a><br/>
                        <span class="bold"> Nombre de lots :</span> {{ prog.prog_nb_lots }}<br/>
                        <span class="bold"> Date de  livraison :</span> {{ prog.livraisonFormat|raw }}<br/>
                        <span class="bold"> HQE :</span> {{ prog.hqe }}<br/>
                        <span class="bold"> BBC :</span> {{ prog.bbc }}<br/>
                        <span class="bold"> descriptif court :</span> {{ prog.prog_descriptif_cours }}<br/>

                        <a href="{{ path('liste_lots',{idprog:prog.idprogrammes}) }}"><button id="voirLots_{{ prog.idprogrammes }}" type="button" class="voirLots btn btn-default">Voir les lots</button></a>&nbsp;
                        <a href="{{ path('liste_denonces',{idprog:prog.idprogrammes}) }}"><button id="voirDenonces_{{ prog.idprogrammes }}" type="button" class="voirDenonces btn btn-default">Voir les dénonciations</button></a>
                    </p>
                </div>
            
            </div>
        {% endfor %}
    </div>
{% endblock %}


