{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
       {% stylesheets 
       		'css/authentification.css' filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
       {% endstylesheets %}
{% endblock %}
{% block javascripts %}
{{ parent() }}

        
	
	{% javascripts 'js/authent.js' %}
        <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
    <script type="text/javascript">

	GV.launchFunction=init_authent;

    </script>
{% endblock %}
{% block body %}
    <div class="mAuto widthAuthent relative pad10">
 
        <h3>Authentification</h3><br/>
        <input type="text" class="form-control myField2" placeholder="e-mail" id="emailToConnect"><br/>
        <input type="password" class="form-control myField2" placeholder="Mot de passe" id="mdpToConnect">
        <br/><div class="tar"><button id="connexionBt" type="button" class="btn tar btn-primary ">se connecter</button></div>
       
    </div>
{% endblock %}


