{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
       {% stylesheets 
       		'css/customauthent.css' filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
       {% endstylesheets %}
{% endblock %}
{% block javascripts %}
{{ parent() }}

        
	
	{% javascripts 'js/custom_client.js' %}
        <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
    <script type="text/javascript">

	GV.launchFunction=init_client;

    </script>
{% endblock %}
{% block body %}
    <div class="mAuto widthAuthent relative pad10">
 
        <h3>Client test</h3><br/>
        <input type="text" class="form-control myField2" placeholder="login" id="login"><br/>
        <input type="password" class="form-control myField2" placeholder="mot de passe" id="password"><br/>
        <input type="text" class="form-control myField2" placeholder="url du webservice" id="url"><br/>
        <input type="text" class="form-control myField2" placeholder="uri du webservice" id="uri"><br/>
        <input type="text" class="form-control myField2" placeholder="méthode invoquée" id="methode"><br/>
        <input type="text" class="form-control myField2" placeholder="paramètres séparés par des virgules" id="params"><br/>
        <br/><div class="tar"><button id="sendBt" type="button" class="btn tar btn-primary ">tester</button></div>
       
    </div>
{% endblock %}


