{% extends 'base.html.twig' %}
{% block stylecss %}
{{ parent() }}
       {% stylesheets 
       		'css/denonces.css' filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
       {% endstylesheets %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
	<!--<script 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEu8klAZre34LRG1uUo9iUJW4xDVTxhbU">
        </script>-->
        
	
	{% javascripts 'js/denonces.js' %}
        <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
    <script type="text/javascript">
        var idProg={{ prog.idprogrammes }};
	GV.launchFunction=init_denonces;

    </script>
{% endblock %}
{% block body %}
    <div class="mAuto widthStandard relative">
        <h3 class="tac">Dénonciations du programme {{ prog.prog_nom }}</h3><br/>
        <div class="tar relative">
            <button id="createDenonce" type="button" data-toggle="modal" data-target="#denonceModal" class="btn btn-default">Créer une dénonciation</button>
        </div>
        <p class="tac bold">Aucune dénonciation pour l'instant</p>
        {% for den in denonces %}
            <div class="panel panel-default relative">
                <div class="panelHeadingAction">


                </div>
                <div class="panel-heading">
                  <h3 class="panel-title" >par ...   </h3>
                </div>
                <div class="panel-body relative">
                    <p>
                        <span class="bold"> info :</span> valeur<br/>
                        
                    </p>
                </div>
            
            </div>
        {% endfor %}
    </div>
        
    <div class="modal fade" id="denonceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Effectuer une dénonciation</h4>
                </div>
                <div class="modal-body">
                    
                    <label>Nom du contact</label>
                    <input type="text" class="form-control myFieldContact"  id="contact_nom"><br/>
                    <label>Prénom du contact</label>
                    <input type="text" class="form-control myFieldContact"  id="contact_prenom"><br/>
                    
                    <label>Ville du contact</label>
                    <input type="text" class="form-control myFieldContact"  id="contact_ville"><br/>
                    
                    <label>Code postal</label>
                    <input type="text" class="form-control myFieldContact"  id="contact_zipcode"><br/>
                    <label>Pays</label>
                    <input type="text" class="form-control myFieldContact"  id="contact_pays"><br/>
                    <label>Email du contact</label>
                    <input type="text" class="form-control myFieldContact"  id="contact_mail"><br/>
                    <label>Numéro du contact</label>
                    <input type="text" class="form-control myFieldContact"  id="contact_phone"><br/>
                    <label>Commentaire</label>
                    <input type="text" class="form-control myFieldContact"  id="contact_commentaire"><br/>
                   
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                  <button id="saveContactbt" type="button" class="btn btn-primary adminBtnStyle1">Enregistrer</button>
                </div>
              </div>
            </div>
    </div>
{% endblock %}


