{% extends 'base.html.twig' %}
{% block stylecss %}
{{ parent() }}
       {% stylesheets 
       		'css/lots.css' filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
       {% endstylesheets %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
	<!--<script 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEu8klAZre34LRG1uUo9iUJW4xDVTxhbU">
        </script>-->
        
	
	{% javascripts 'js/lots.js' %}
        <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
    <script type="text/javascript">

	GV.launchFunction=init_lots;

    </script>
{% endblock %}
{% block body %}
    <div class="mAuto widthStandard relative">
        <h3 class="tac">Lots du programme {{ prog.prog_nom }}</h3><br/>
        
        {% for lot in lots %}
            <div class="panel panel-default relative">
                <div class="panelHeadingAction">


                </div>
                <div class="panel-heading">
                  <h3 class="panel-title" >{{ lot.lot_numero }}   </h3>
                </div>
                <div class="panel-body relative">
                    <p>
                        <span class="bold"> Référence :</span> {{ lot.lot_ref }}<br/>
                        <span class="bold"> Type :</span> {{ lot.lot_type_bien }}<br/>
                        <span class="bold"> Orientation :</span> {{ lot.lot_orientation}}<br/>
                        <span class="bold"> Surface habitable :</span> {{ lot.lot_surface_habitable }}<br/>
                        <span class="bold"> Nombre de pièces :</span> {{ lot.lot_nb_piece }}<br/>
                        <span class="bold"> Etage :</span> {{ lot.lot_etage }}<br/>
                        <span class="bold"> Date de livraison :</span> {{ lot.livraisonFormat|raw }}<br/>
                        <span class="bold"> Prix :</span> {{ lot.lot_prix_accession }} €<br/>
                        <span class="bold"> Loyer :</span> {{ lot.lot_loyer }} €<br/>
                        <span class="bold"> Tva réduite :</span> {{ lot.tvaRed }}<br/>
                        <span class="bold"> Optionné :</span> {{ lot.isOption }}<br/>
                        <span class="bold"> Etat :</span> {{ lot.etat_label }}<br/>
                        <span class="bold"> Taux tva :</span> {{ lot.lot_taux_tva }} %<br/>
                        {% if lot.lot_option_fin>0 %}
                        <span class="bold"> Fin option :</span> {{ lot.lot_option_fin|date('d/m/Y') }}<br/>
                        {% endif %}
                        <span class="bold"> Nombre parkings :</span> {{ lot.lot_nb_parkings }}<br/>
                        <span class="bold"> Nombre garages  :</span> {{ lot.lot_nb_garages }}<br/>
                        <span class="bold"> Tranche :</span> {{ lot.lot_num_tranche }}<br/>
                        <span class="bold"> Batiment :</span> {{ lot.lot_nom_batiment }}<br/>
                    </p>
                </div>
            
            </div>
        {% endfor %}
    </div>
{% endblock %}


