/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 oct. 2016, 13:24:35
    Author     : yvanvenumiere
*/

.widthAuthent{width:400px;margin-top:60px;}

/********************MEDIA QUERIES******/
@media screen and (max-width: 700px) {
	.widthAuthent{width:100px;}
}