/**********FACTOR****************/
*{padding:0;margin:0; border:0;}
.width100pct{width:100%;}
.absolute{position:absolute;}
.relative{position:relative;}
.fl{float:left;}
.fr{float:right;}
.clr{clear:both;}
.mAuto{margin:auto;}
.clickable{cursor:pointer;}
.policeArial{font-family:Arial;}
.policeGeorgia{font-family:Georgia;}
.dBlock{display:block;}
.dInline{display:inline;}
.bold{font-weight:bold;}
.noBold{font-weight:normal !important;}
.noDecoration{text-decoration:none;}
.fieldErrorClass,.errorClass{border:1px solid red !important;}
.noBgRepeat{background-repeat:no-repeat;}

.bgRepeatX{background-repeat:repeat-x;}
.tal{text-align:left !important;}
.tac{text-align:center;}
.tar{text-align:right !important;}
.taj{text-align:justify;}
.ttup{text-transform:uppercase;}
.ttnormal{text-transform:none !important;}
.textItalic{font-style:italic;}
.bRed{background-color:red;}
.hidden{visibility:hidden;}
.tun{text-decoration:underline;}
.pad10{padding:10px;}
.mTopbt{margin-top:10px;}
.noMgBottomImportant{margin-bottom:0px !important;}
.dNone{display:none;}


/*Pour bootstrap*/
h1,h2,h3,h4,h5,h6
{
    margin:0px !important;
    padding:0px !important;
}





    

/***SPECIFIK***/
.color1
{color:white;}



.size1
{font-size:13px;}




.colorHeader{background-color:#2db2a4;}
.widthStandard{width:1000px;}
.heightHeader{height:121px;}
.pad10{padding:10px;}